
*.o
*.obj
*.exe

*.o.d
*.obj.d

./mcc.exe
./mcc_test.exe
*.stackdump
./mcc
./mcc_test
mcc
!mcc/

*.ilk
*.pdb
mcc_test

# cmake
CMakeFiles
Debug
mcc.dir
.vs
CMakeCache.txt
cmake/cmake_install.cmake
cmake/ALL_BUILD.vcxproj
cmake/ZERO_CHECK.vcxproj
cmake/mcc.vcxproj
cmake/Makefile
cmake/ALL_BUILD.vcxproj
cmake/ALL_BUILD.vcxproj.filters
cmake/mcc.sln
cmake/mcc.vcxproj
cmake/mcc.vcxproj.filters
cmake/ZERO_CHECK.vcxproj
cmake/ZERO_CHECK.vcxproj.filters

external/cpp/cpp_test
.srcs_dep
.vscode

1.i

out/*

__*_.c

mcc.code-workspace
